<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<title>小期待呢</title>
<link rel="stylesheet" type="text/css" href="../static/css/head_style.css">
<style>
.beian{
	margin: 100px 0 0 630px;
	display: inline-block;
    font-size: 12px;
    color: #ccc;
}
</style>
</head>
<body>

<!-- 头像部分begin -->
<div class="container">
<!-- Team members structure start -->
	<div class="team-members row">
		<!-- effect-1 html -->
		<div class="single-member effect-1">
			<div class="member-image">
				<img src="../static/homePageImage/me.jpg" alt="Member">
			</div>
			<div class="member-info">
				<h3>小期待</h3>
				<h5>SunnyBoy</h5>
				<p>翻过那座山，他们就会听到你的故事。 Acting as if nothing borne in mind is the best revenge.It’s all for yourself to live better.</p>
				<div class="social-touch">
					<a>想要成为一名伟大的攻城狮的程序猴-小期待</a>
				</div>
			</div>
		</div>
		<!-- effect-1 html end -->	
	</div>
<!-- Team members structure start -->
</div>
<!-- 头像部分end -->
<div class="social-touch" style="margin-left: 590px">
<a style="text-decoration: none;border-bottom: 1px solid #ccc;" href="https://github.com/myJelly/qidaiSystem">Github</a>
<a style="text-decoration: none;border-bottom: 1px solid #ccc;" href="/templates/chat.html" >机器人-小期待</a>
<a style="text-decoration: none;border-bottom: 1px solid #ccc;" href="/templates/login_ajax.html">Springboot</a>
</div>
<!-- 备案 -->
​​<div class="beian">
<img style="width:20px;height:20px" src="../static/image/beian.png">
<a href="http://www.miitbeian.gov.cn/state/outPortal/loginPortal.action" style="text-decoration: none;color:white">京ICP备19011720号</a>
</div>

</body>
</html>
